TODO
.DS_Store
MDRadialProgress.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MDRadialProgress.xcodeproj/project.xcworkspace/xcshareddata/MDRadialProgress.xccheckout
MDRadialProgress.xcodeproj/project.xcworkspace/xcuserdata/serko.xcuserdatad/UserInterfaceState.xcuserstate
MDRadialProgress.xcodeproj/xcuserdata/serko.xcuserdatad/xcschemes/MDRadialProgress.xcscheme
MDRadialProgress.xcodeproj/xcuserdata/serko.xcuserdatad/xcschemes/xcschememanagement.plist
